@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Raleway:100,600';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300';
html,
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #372549;
    margin: auto;
}

.header img {
    height: 50px;
    padding-left: 2rem;
}

.header h1 {
    font-size: 2rem;
    color: #EACDC2;
    font-family: 'Raleway', sans-serif;
    margin-right: 320px;
}

h1 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.header ul {
    display: inline;
    font-size: 1rem;
    padding: 20px;
    margin: auto;
}

.header ul a {
    text-decoration: none;
    color: #EACDC2;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    margin: auto;
    font-weight: bolder;
}

ul a:hover {
    background-color: #EACDC2;
    color: #372549;
    transition-duration: 0.5s;
}

.column {
    float: left;
    width: 24.3%;
    margin-bottom: 16px;
    padding: 0 16px;
}

.card {
    box-shadow: 0 4px 8px 0 #372549;
    margin: 8px;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
}

.card:hover {
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #774c60;
    color: #EACDC2;
}

.container {
    padding: 0 16px;
    text-align: center;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #b75d69;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #372549;
}

.img {
    border-radius: 50%;
    position: relative;
    left: 70px;
    top: 15px;
}

h2 {
    color: #372549;
}

footer {
    background-color: #774c60;
}

footer h2 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 7px;
}