@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Raleway:100,600';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
html,
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #372549;
    margin: auto;
}

.header img {
    height: 50px;
    padding-left: 2rem;
}

.column {
    float: left;
    width: 24.3%;
    margin-bottom: 16px;
    padding: 0 16px;
}

.card {
    box-shadow: 0 4px 8px 0 #372549;
    margin: 8px;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
}

.header h1 {
    font-size: 2rem;
    color: #EACDC2;
    font-family: 'Raleway', sans-serif;
    margin-right: 320px;
}

h1,
ul,
a,
header {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.header ul {
    display: inline;
    font-size: 1rem;
    padding: 20px;
    margin: auto;
}

.header ul a {
    text-decoration: none;
    color: #EACDC2;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    margin: auto;
    font-weight: bolder;
}

ul a:hover {
    background-color: #EACDC2;
    color: #372549;
    transition-duration: 0.5s;
}

.column {
    float: left;
    width: 24.3%;
    margin-bottom: 16px;
    padding: 0 16px;
}

.card {
    box-shadow: 0 4px 8px 0 #372549;
    margin: 8px;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
}

.card:hover {
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #774c60;
    color: #EACDC2;
}

.container {
    padding: 0 16px;
    text-align: center;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #b75d69;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #372549;
}

.img {
    border-radius: 50%;
    position: relative;
    left: 70px;
    top: 15px;
}

h2 {
    color: #372549;
}


footer{
  background-color : #774c60;
  text-align: center;
  margin-top: 50px;
  padding-top: 150px;
  padding-bottom: 25px;



footer h2 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: #fff;
}

footer h3 strong{
  font-size: 55px;
  color: #fff;
}

footer p {
  margin-bottom: 60px;
  font-size: 18px;
  color: #fff;

}

footer .contact-info .icon{
  font-size: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 60px;
    display: flex;
    min-height: 60px;
    justify-content: center;
    align-items: center;
}

footer .contact-info p{
  font-size: 20px;
    font-weight: 200;
    margin: 0 0 0 20px;
    color: #fff;

 
}


footer .contact-info {

  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  padding: 16px 0;

}

footer h4{
  font-size: 25px;
    font-weight: 700;
    margin: 70px 0 50px 0;
    position: relative;
    display: inline-block;
    color: #fff;

}


footer .contact-form{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 85px;
    margin-left: 25px;

}

footer .contact-form input.send {
  flex: 0 0 58%;
  max-width: 58%;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  border: 0 none;
  border-radius: 4px;
  padding: 16px 0;
  margin: 0 auto;
  background: #b75d69;}

  footer .contact-form input.name, footer .contact-form input.email, footer .contact-form textarea {
    flex: 0 0 49%;
    max-width: 49%;
    color: #fff;
    background-color: transparent;
    border: 0 none;
    border-bottom: 1px solid #b75d69;;
   padding: 20px;
    margin-bottom: 30px;}

   