@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Raleway:100,600';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300';
html,
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    background-color: #EACDC2;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #372549;
    margin: auto;
}

.header img {
    height: 50px;
    padding-left: 2rem;
}

.header h1 {
    font-size: 2rem;
    color: #EACDC2;
    font-family: 'Raleway', sans-serif;
    margin-right: 320px;
}

.header ul {
    display: inline;
    font-size: 1rem;
    padding: 20px;
    margin: auto;
}

.header ul a {
    text-decoration: none;
    color: #EACDC2;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    margin: auto;
    font-weight: bolder;
}

ul a:hover {
    background-color: #EACDC2;
    color: #372549;
    transition-duration: 0.5s;
}