@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #EACDC2;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    box-sizing: border-box
}

h1,
ul,
a,
header {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #372549;
    margin: auto;
    width: 100%;
}

.header img {
    height: 50px;
    padding-left: 2rem;
}

.header h1 {
    font-size: 2rem;
    color: #EACDC2;
    font-family: 'Raleway', sans-serif;
    margin-right: 320px;
}

.header ul {
    display: inline;
    font-size: 1rem;
    padding: 20px;
    margin: auto;
}

.header ul a {
    text-decoration: none;
    color: #EACDC2;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    margin: auto;
    font-weight: bolder;
}

ul a:hover {
    background-color: #EACDC2;
    color: #372549;
    transition-duration: 0.5s;
}

.main {
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mainH1 {
    text-align: center;
    font-size: 2rem;
    color: #372549;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    margin: auto;
    padding-right: 2rem;
}

.main p {
    font-size: 1.3rem;
    color: #372549;
    width: 400px;
    text-align: center;
    padding-top: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.mainH2 {
    text-align: center;
    font-size: 3rem;
    color: red;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    margin: auto;
    padding-top: 2rem;
    padding-right: 2rem;
}

#chartContainer p {
    font-size: 1.3rem;
    color: #372549;
    text-align: center;
    padding-top: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    opacity: .75;
}


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 30pt;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: right;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

footer {
    background-color: #372549;
    color: #EACDC2;
    text-align: center;
    margin-top: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

footer h2 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: #EACDC2;
    margin: 20px;
}

footer h3 strong {
    font-size: 40px;
    color: #EACDC2;
    margin: 20px;
}

footer p {
    margin-bottom: 20px;
    font-size: 18px;
    color: #EACDC2;
}


/* Shrink button ----------------------- */

.hvr-pulse-shrink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    border: none;
    background-color: #372549;
    color: #EACDC2;
    width: 100px;
    height: 40px;
    font-size: 15pt;
    font-family: 'Raleway', sans-serif;
}

.hvr-pulse-shrink:hover,
.hvr-pulse-shrink:active {
    -webkit-animation-name: hvr-pulse-shrink;
    animation-name: hvr-pulse-shrink;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@-webkit-keyframes hvr-pulse-shrink {
    to {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes hvr-pulse-shrink {
    to {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}