@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
body{
	background-color:#f8f8f8;

}
.form-style-5 {
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: rgba(234, 205, 194,0.2);
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.form-style-5 fieldset {
    border: none;
}

.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}

.form-style-5 input[type="text"],
.form-style-5 input[type="radio"],
.form-style-5 input[type="number"] {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color: #8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
}

.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="radio"]:focus,
.form-style-5 input[type="number"]:focus {
    background: #d2d9dd;
}

.form-style-5 .gender, #male, #female{
  display: inline-block;
  width: 10%;
}

.form-style-5 .number {
    background: #B75D69;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style-5 button {
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #B75D69;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #B75D69;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}

.form-style-5 button:hover {
	background: #774C60;
	border: 1px solid #774C60;
}

/* ///////////// */
#info {
background-color: #B75D69;
width: 70%;
margin-left: 15%;
padding: 20px;
}
#info:hover{
	width: 80%;
	margin-left: 10%;
}
#info h1 { color: #ffffff;
font-family: 'Raleway',sans-serif;
font-size: 62px;
font-weight: 800;
line-height: 72px;
margin: 0 0 24px;
text-align: center;
text-transform: uppercase; }

h2 { color: #ffffff;
font-family: 'Raleway',sans-serif;
font-size: 30px;
font-weight: 800;
line-height: 36px;
margin: 20px 0 24px ;
text-align: center; }

#info p, #advice p { color: #f8f8f8;
font-family: 'Raleway',sans-serif;
font-size: 18px;
font-weight: 500;
line-height: 32px;
margin: 0 0 24px;
margin-left: 5%;
margin-right: 5%;
}
#info a { color: #c8c8c8;
text-decoration: underline;
margin-left: 35%;
}
#info a:hover { color: #1c1c1c;
text-decoration: underline;
}

#advice{
  margin-bottom: 20px;
  background-color: #B75D69;
  width: 70%;
  margin-left: 15%;
  padding: 10px;
}
#advice:hover{
	width: 80%;
	margin-left: 10%;
}
#advice p {
	padding: 20px;
	margin-bottom: 50px;
}
#feedback{
  border: 5px white solid;
  padding: 10px;
}
/* /////////table///////// */
iframe{
	width:280px;
	height:160px;
	border:0;
}
table img{
	width: 200px;
	height: 200px;
}
table td:hover{
	width: 300px;
	height: 300px;
}
table {
	border: 1px solid #ccc;
	border-collapse: collapse;
	margin: 15px;
	padding: 0;
	width: 98%;
	table-layout: fixed;
  }
  
  table tr {
	background-color: #f8f8f8;
	border: 2px solid #ddd;
	padding: .35em;
  }
  #delete{
	  font-size: 40px;
	  color: #B75D69;
  }
  
  table th,
  table td {
	padding: .625em;
	text-align: center;
	color: #B75D69;
	font-size: 20px;
  }
  
  table th {
	font-size: 22px;
	background-color: #EACDC2;
	height: 35px;
	letter-spacing: .1em;
	text-transform: uppercase;
  }
  #exercises{
	  color: #B75D69;
	  font-weight: bold;
  }
  